-@title = "About Ryan Mulligan"
-@tags = ["Ryan Mulligan","About Ryan Mulligan","Biography"]
%h1 About Ryan Mulligan
%h2 Current State
%p
  ==Ryan Mulligan is currently acting as an entrepreneur at #{link "401 W Washington", "401.html"} where he has enough money to survive until December 2008. If he hasn't figured out how to make money by then, he will get a "real job." He is currently spending his time doing web programming and marketing for #{link "Sassins", "http://sassins.com"} a company that makes it easy to play and organize #{link "assassins games", "http://sassins.com/assassins/assassins"}.

%h2 Past History
%p
  ==Ryan Mulligan was born on 2 October 1985 CE in Illinois, USA.
%p
  ==In October 2005, he is the founded CampusAssassins.com with the help of #{link "David Grayson", "http://davidegrayson.com"}. The site debuted with #{link "Campus Honors Program Fall 2005", "http://sassins.com/games/104"}, a student group that David and Ryan were a part of. The two later renamed the website to #{link "Sassins", "http://sassins.com"} to market the game to a wider variety of people. 
%p
  ==In December 2007, he earned a Bachelors of Science in #{link "Enterprise Systems Engineering","http://www.iese.uiuc.edu/"} with Highest Honors from the #{link "University of Illinois at Urbana Champaign", "http://uiuc.edu"}, along with a Minor in #{link "Mathematics", "http://math.uiuc.edu"}.

%h3 2008
%p
  ==On 9 March 2008, he made #{link "BrawlSnapshots.com", "http://www.brawlsnapshots.com"} in 2 days before the release of Smash Brothers Brawl, and since the website has become quite popular. On 12 May 2008, he made #{link "ReplyLater.com", "http://www.replylater.com"}, a service for sending emails into the future.

%h3 Present
%p
  Ryan's continued interests are reading, programming, math, games and bicycling.


