-@fulltitle = "Ryan Mulligan"
-@tags = ["Ryan Mulligan"]
%h1 About Ryan Mulligan

%h2 Ryan Mulligan's History
%p
  ==I was born on 2 October 1985 Common Era in Illinois, USA.
%p
  ==In October 2005, I founded CampusAssassins.com with #{link_to "David Grayson", "http://davidegrayson.com"}. The site debuted with #{link_to "Campus Honors Program Fall 2005", "http://sassins.com/games/104"}, a game for our school honors program. We later renamed the #{link_to "assassins game host", "http://sassins.com"} to Sassins.com.
%p
  ==In December 2007, I earned a Bachelors of Science in #{link_to "Enterprise Systems Engineering","http://www.iese.uiuc.edu/"} with Highest Honors from the #{link_to "University of Illinois at Urbana Champaign", "http://www.illinois.edu"}, along with a Minor in #{link_to "Mathematics", "http://math.uiuc.edu"}. I also studied the field of Operations Research, an engineer's approach to mathematical optimization. I was drawn to this field because of the potential I saw for increases in efficiency.

%h3 2008
%p
  ==On 9 March 2008, I made a Smash Bros. Brawl Screenshot Gallery called BrawlSnapshots.com in 2 days before the release of Smash Brothers Brawl, and the website became quite popular boasting over 1000 visitors a day. On 12 May 2008, I made an #{link_to "email reminder service", "http://www.replylater.com"} called ReplyLater.com which increases the efficiency of inbox management.
%p
  ==On 9 June 2008, David and I traveled across the country from Urbana, Illinois to Las Vegas, Nevada. David had decided to go work for a small #{link_to "robotics and electronics part manufacturer and retailer", "http://www.pololu.com"} called Pololu Robotics and Electronics. His brother Paul and sister in law Fang already worked there.
%p
  ==In October 2008, I decided to go work at Pololu and got to Las Vegas on 9 November 2008, starting work the next day.

%h3 2009
%p
  I started to get involved with Toastmasters more (I had started to attend meeting in Champaign Illinois in August 2008). Pololu grew a lot. I started rock climbing and playing soccer a lot.

%h3 2010
%p
  I became the Vice President of Education of Powerhouse Pros Toastmasters. Pololu grew a lot more. I got variously injured in my ankles and fingers and stopped rock climbing and playing soccer.

%h3 2011
%p
  I started going to the gym every morning.


