-@fulltitle = "Ryan Mulligan"
-@tags = ["Ryan Mulligan"]
%h1 About Ryan Mulligan

%h2 Ryan Mulligan's History
%p
  ==Ryan Mulligan was born on 2 October 1985 Common Era in Illinois, USA.
%p
  ==In October 2005, I founded CampusAssassins.com with the help of #{link_to "David Grayson", "http://davidegrayson.com"}. The site debuted with #{link_to "Campus Honors Program Fall 2005", "http://sassins.com/games/104"}, a game for our honors program. We later renamed the #{link_to "assassins game host", "http://sassins.com"} to Sassins.com.
%p
  ==In December 2007, I earned a Bachelors of Science in #{link_to "Enterprise Systems Engineering","http://www.iese.uiuc.edu/"} with Highest Honors from the #{link_to "University of Illinois at Urbana Champaign", "http://www.illinois.edu"}, along with a Minor in #{link_to "Mathematics", "http://math.uiuc.edu"}. I also studied the field of Operations Research, an engineers approach to mathematical optimization. I was drawn to this field because of the potential I saw for increases in efficiency.

%h3 2008
%p
  ==On 9 March 2008, I made a #{link_to "Smash Bros. Brawl Screenshot Gallery", "http://www.brawlsnapshots.com"} called BrawlSnapshots.com in 2 days before the release of Smash Brothers Brawl, and since the website has become quite popular boasting over 1000 visitors a day. On 12 May 2008, I made an #{link_to "email reminder service", "http://www.replylater.com"} called ReplyLater.com which increases the efficiency of inbox management.

%h3 Present
%p
  My continued interests are reading, programming, math, games and bicycling as the pertain to helping people and organizations increase their efficiency.


