-@fulltitle = "Ryan Mulligan"
-@tags = ["Ryan Mulligan"]
%h1 Ryan Mulligan
%h2 Ryan Mulligan's Current State
%p
  ==Ryan Mulligan is currently acting as an entrepreneur at #{link_to "401 W Washington", "401.html"} where he has enough money to survive until December 2008. If he hasn't figured out how to make money by then, he will get a "real job." He is currently spending his time doing web programming and marketing his companies.

%h2 Ryan Mulligan's Past History
%p
  ==Ryan Mulligan was born on 2 October 1985 CE in Illinois, USA.
%p
  ==In October 2005, he is the founded CampusAssassins.com with the help of #{link_to "David Grayson", "http://davidegrayson.com"}. The site debuted with #{link_to "Campus Honors Program Fall 2005", "http://sassins.com/games/104"}, a student group that David and Ryan were a part of. The two later renamed the #{link_to "assassins game host", "http://sassins.com"} to Sassins to market the game to a wider variety of people.
%p
  ==In December 2007, he earned a Bachelors of Science in #{link_to "Enterprise Systems Engineering","http://www.iese.uiuc.edu/"} with Highest Honors from the #{link_to "University of Illinois at Urbana Champaign", "http://www.illinois.edu"}, along with a Minor in #{link_to "Mathematics", "http://math.uiuc.edu"}.

%h3 2008
%p
  ==On 9 March 2008, he made a #{link_to "Smash Bros. Brawl Screenshot Gallery", "http://www.brawlsnapshots.com"} called BrawlSnapshots.com in 2 days before the release of Smash Brothers Brawl, and since the website has become quite popular boasting over 1000 visitors a day. On 12 May 2008, he made an #{link_to "email reminder service", "http://www.replylater.com"} called ReplyLater.com.

%h3 Present
%p
  Ryan's continued interests are reading, programming, math, games and bicycling.


